@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}


body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.Wrapper {
  width: 100vw;
  /*100 de la pantalla viewport*/
  height: 100vh;
  background-color: #070011;
  color: white;
}

.navbar {
  display: flex;
  /*Elementos uno al lado del otro*/
  justify-content: space-between;
  /*Separados en las esquinas opuestas*/
  padding: 2em;
  
}

.brand {
  margin-top: -7.3px;
}

.brand span {
  color: aqua;
}

.menu {

  display: flex;
  width: 50%;
  justify-content: space-around;
  /*Separados entre si*/
}

.menu li {
  list-style: none;

}

.menu a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 10px 20px;

}

.menu a:hover {
  background-color: aqua;
  color: #070011;
  transition: ease-in 0.3s
    /*transition del hover*/
}

.menu .active {
  color: aqua;
}

.toggle-menu,
.info-content-subtitulo, .info-content  .social-info-contentSocial {
  display: none;
}

.main {
  margin: 0 auto;
  /*Centra*/
  width: 80vw;
  /* separa de los margenes*/
  height: 80vh;
  /* separa de los margenes*/
  display: grid;
  /*Divide la paginas en areas en cuadricula, por el momento solo aparecen los elementos uno abajo del otro*/
  grid-template-columns: repeat(2, 1fr);
  /*Esto le da dimeciones a la cuadricula en columnas va a repetir la accion 2 veces  dandole una 2 fraciones del grid */
  align-items: center;
  /*El item que es el texto lo colocara en el centro del grid*/
}

h1 {
  font-size: clamp(3vw, 1em, 2em);
  /*Para responsive, 1 medida deseada, medida minima. medida media)*/
}

span {
  color: aqua;
}

.Descargar {
  padding: 10px 20px;
  background-color: aqua;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.60);
  /*Sombra las dimesiones siempre en direccion al reloj, y el ultmo indica la difuminacion de la sombra*/

}

.Descargar:hover {
  background-color: white;
  box-shadow: none;
}

.foto-Principal {
  width: 400px;
  border: 7px solid aqua;
  height: 520px;
}

.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
}

.about img {
  width: 100%;
  grid-column: 1/5;
}

.about-info {
  grid-column: 5/10;
  padding: 3em;
}

.about-info h2 {
  font-size: 2em;
  color: #070011;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: aqua;
  margin-top: 4px;
  margin-bottom: 2.5em;
}

.about p {
  margin-bottom: 2em;
}

.porfolio {
  width: 100vw;
  background-color: #070011;
}

.porfolio-headings {
  width: 100vw;
  padding: 5em;
}

.porfolio-headings h2 {
  font-size: 2.5em;
  color: #fff;
}

.porfolio .container {
  width: 80vw;

  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 350px;
  color: #fff;
  background-color: #211728;
  margin: 1em;
}

.card-img {
  width: 100%;
  height: 150px;
  background-image: url(../img/2-original.png);
  background-size: cover;
  /*La imagen ocupa la totalidad*/
}

.card-title {
  padding: 20px;

}

.proyects-link {
  display: flex;
  justify-content: space-evenly;
}

.proyects-link a {
  color: #fff;
  text-decoration: none;

}

.proyects-link i {
  font-size: 1.5em;


}

.card .Detalles-proyecto {

  margin: 0 auto;
  width: 70%;
  margin: 1em;

}

.card .Detalles-proyecto a {
  text-decoration: none;
  color: #070011;
  text-transform: uppercase;
}

.boton {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1em;
}

.boton a {
  text-decoration: none;
  text-transform: uppercase;
}

.contacto {
  background-color: #070011;
  padding: 3em;
  margin: 0 auto;
}

.contacto-headings h2 {
  font-size: 3em;
  color: #fff;
}

.container-contacto img {
  width: 800px;
  height: 1000x;
  bottom: 0px;
}

.container-contacto {
  display: flex;
}

.contacto-from h4 {
  color: #fff;
}

.Formulario {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}

.Formulario input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.Formulario textarea {
  height: 150px;
  background: none;
  color: #fff;
  padding: 1.5em;
  border: 1px solid #fff;
}

.boton-submit {
  padding: 10px 20px;
  margin: 1em;
  border: none;
  text-transform: uppercase;
  background-color: aqua;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.60);
}

.boton-submit:hover {
  box-shadow: none;
  background-color: #fff;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  text-align: center;
  background-color: #7BFFFF;
}

.footer-contenido h2 {
  text-align: center;
  font-size: 3em;

}

.footer-contenido h5 {
  text-align: center;
  font-size: 1.5em;

}

.social {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.social i {
  font-size: 1.5em
}

#linkedin {
  text-decoration: none;
  color: #070011;
}

.social-info-contentSocial i{
font-size: 1.5em;
color: #fff;
}

@media screen and (max-width: 800px) { /*toda pantalla que este en un maximo de ancho 800px para telefonos*/
  
  .menu{
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #2b3058;
    z-index: 1;/*Para que se mantega siempre delante*/
    transform: translate(-110%);
    transition: all 0.60s ease-in-out;
  }

  .show-menu{
    transform: translate(0%);
    transition: all 0.60s ease-in-out;
  }

  .menu li{
    margin: 2em;
  }

  .toggle-menu{
    display: block;
    
  }

  .fa-bars, .fa-close{
    font-size: 1.5em;
    margin-top: -0.2em;
  }

  .toggle-menu .fa-close{
    display: none;
  }
  .main{
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
  }
  .Parrafo-about{
    display: none;
  }
  .info-content{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
  }
  .foto-Principal{
    width: min(70%,350px);
    height:auto ;
  }
  .info-content .social-info-contentSocial, .info-content-subtitulo{
    display: block;
  }

  .Descargar{
    display: none;
  }
  .info-content-subtitulo{
    padding: 0.5em;
  }
  .social-info-contentSocial{
    padding-top: 10px;
  }
  
  .about__imagen{
    display: none;
  }
  .about{
    display: flex;
    flex-direction: column-reverse;
  }
  .container__contacto-imagen{
    display: none;
  }
  .Formulario{
    width: 80vw;
  }
}
